{% extends "./base.html"%} {%block card_body%}

<div class="card-foto">
  <img src="../static/recursos/loquer.jfif" alt="" height="500px" />
</div>
<div class="card-description">
  <p class="card-title card-title-inicio">Inventario de informatica</p>
  <p class="text-description">
    "Potencia tu sala de informática al máximo con nuestro inventario
    tecnológico: una solución integral para una experiencia de aprendizaje
    digital sin límites, lleva un control de los equipos, cuales hay, como estan
    y mucho mas .
  </p>
  <div class="btn btn-inicio">
    <a href="{%url 'home'%}" class="btn-link btn-link-inicio">Ingresar</a>
  </div>
</div>
{% endblock %}
